@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-doc-btn
----------------------------------------*/
.c-doc-btn {
  display: grid;
  place-content: center;
  background: var(--c_bg);
  @include fwd.hover-opacity();
}

.c-doc-btn__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-doc-btn__img {
  width: 24px;
}

.c-doc-btn__text {
  margin-top: 0.4em;
  color: var(--c_white);
  font-size: var(--fz_10);
}

@media (min-width: 992px) {
  .c-doc-btn__img {
    width: 32px;
  }

  .c-doc-btn__text {
    font-size: var(--fz_14);
    font-weight: 700;
  }
}

@media (min-width: 1440px) {
  .c-doc-btn__inner {
    flex-direction: row;
  }

  .c-doc-btn__text {
    margin-top: 0;
    margin-left: 0.5em;
    font-size: var(--fz_16);
  }
}