@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-form
----------------------------------------*/
.c-form {
  padding: 8px 0 19px;
  background: var(--c_white);
  border-radius: 5px;
  color: var(--c_text);
  line-height: 1.0;
  text-align: left;
}

.c-form__inner {
  width: calc((327 / 345) * 100%);
  margin: 0 auto;
}

.c-form__title {
  position: relative;
  width: calc((327 / 345) * 100%);
  margin: 0 auto;
  padding: 18px 20px;
  background: var(--c_main);
  border-radius: 5px;
  color: var(--c_white);
  font-weight: 700;
}

// 下向き三角形
.c-form__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px; // 三角形の高さの分だけ下に下げる
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 12px solid var(--c_main);
  border-bottom: 0;
  transform: translateX(-50%);
}

.c-form__item:first-of-type {
  margin-top: 25px;
}

.c-form__item {
  margin-top: 15px;
  text-align: left;
}

.c-form__item--column2 {
  display: flex;
  gap: calc((9 / 327) * 100%);
}

.c-form__item-title {
  display: inline-block;
  font-size: var(--fz_14);
  font-weight: 700;
}

.c-form__body {
  margin-top: 8px;
}

.c-form__input {
  --c_bg: #F5F8FA;
  width: 100%;
  height: 48px;
  padding: 1em 0.5em;
  background: var(--c_bg);
  border: 1px solid var(--c_border);
  border-radius: 5px;
  font-size: var(--fz_16);
}

.c-form__input::placeholder {
  --c_text: #AAAAAA;
  color: var(--c_text);
}

.c-form__required {
  color: var(--c_required);
  font-weight: 400;
}

.c-form__text {
  margin-top: 24px;
  font-size: var(--fz_12);
  line-height: 1.5;
}

.c-form__btn-wrap {
  position: relative;
  margin-top: 40px;
  text-align: center;
}

.c-form__btn {
  --c_bg: #F5F8FA;
  --c_text: #AAAAAA;
  display: inline-block;
  padding: 13px 27px;
  background: var(--c_bg);
  border-radius: 25px;
  color: var(--c_text);
  font-weight: 700;
  pointer-events: none;
  // テキストの範囲選択を禁止(範囲選択できるとボタンのテキストが白くなるため)
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

// 送信ボタン有効時
.c-form__btn.is-active {
  background: var(--c_main);
  color: var(--c_white);
  pointer-events: auto;
  @include fwd.hover-opacity(); // ホバーアニメーション
}

// 送信完了時(非表示)
.c-form__btn.is-hidden {
  opacity: 0;
  visibility: hidden;
}

// 送信完了メッセージ
.c-form__end-message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: var(--c_main);
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  transform: translate(-50%, -50%);
}

// 送信完了メッセージ(有効化)
.c-form__end-message.is-active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .c-form {
    padding-bottom: 28px;
  }

  .c-form__inner {
    width: calc((368 / 400) * 100%);
  }

  .c-form__title {
    width: calc((384 / 400) * 100%);
    padding: 16px 14px;
    font-size: var(--fz_20);
  }

  .c-form__text {
    font-size: var(--fz_14);
  }

  .c-form__btn-wrap {
    margin-top: 31px;
  }

  .c-form__btn {
    padding: 16px 40px;
    font-size: var(--fz_20);
  }
}