//-------------------------------------------
// Component
//-------------------------------------------
@use "c-accordion";
@use "c-card";
@use "c-cta";
@use "c-doc-btn";
@use "c-form";
@use "c-gnav";
@use "c-hamberger";
@use "c-heading-lv2";
@use "c-logo";
@use "c-diag-rounded-card";
@use "c-spmenu";