@use "../../foundation/forward" as fwd;

/*----------------------------------------
	p-customer
----------------------------------------*/
.p-customer__title {
  font-size: var(--fz_20);
}

.p-customer__img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.p-customer__img {
  width: 280px;
}

.p-customer__slide-wrap {
  display: flex;
  margin-top: 39px;
  overflow: hidden;
}

.p-customer__slide-list {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
}

.p-customer__slide-item {
  width: 160px;
  margin-right: 63px;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  .p-customer__title {
    font-size: var(--fz_32);
  }

  .p-customer__img-wrap {
    flex-direction: row;
    justify-content: center;
    gap: 84px;
    margin-top: 40px;
  }

  .p-customer__slide-wrap {
    margin-top: 64px;
  }

  .p-customer__slide-item {
    width: 248px;
    margin-right: 80px;
  }
}

@media (min-width: 992px) {
  .p-customer__img {
    width: fwd.make-clamp(280, 428, 992, 1440, "px");
  }
}
