@use "../../foundation/forward" as fwd;

/*----------------------------------------
	p-download
----------------------------------------*/
.p-download {
  padding-top: 72px;
  padding-bottom: 46px;
  background-image: linear-gradient(to right, #007fc6, #02d1ff);
  color: var(--c_white);
  text-align: center;
}

.p-download__inner {
  width: calc((345 / 375) * 100%);
  max-width: 848px;
  margin-right: auto;
  margin-left: auto;
}

.p-download__content {
  margin-top: 26px;
}

.p-download__text {
  font-size: var(--fz_12);
  line-height: 1.8;
}

.p-download__img-wrap {
  position: relative;
  width: 240px;
  height: auto;
  aspect-ratio: 8 / 5;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}

.p-download__img--fwd {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc((170 / 240) * 100%);
}

.p-download__img--bwd {
  position: absolute;
  top: 0;
  right: 0;
  width: calc((170 / 240) * 100%);
}

.p-download__form {
  width: 343px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .p-download__text {
    font-size: fwd.make-clamp(14, 16, 768, 1024);
  }

  .p-download__img-wrap {
    width: 413px;
    margin-top: 48px;
  }

  .p-download__form {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .p-download {
    padding-top: 96px;
    padding-bottom: 57px;
  }

  .p-download__content {
    display: flex;
    margin-top: 79px;
  }

  .p-download__body {
    width: 413px;
  }

  .p-download__text {
    text-align: left;
  }

  .p-download__form {
    margin-top: 0;
    margin-right: 0; // 左寄せ
  }
}