@use "../foundation/forward" as fwd;

/*----------------------------------------
	l-footer
----------------------------------------*/
.l-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: var(--c_white);
  text-align: center;
}

.l-footer__logo {
  width: 227px;
  margin-right: auto;
  margin-left: auto;
}

.l-footer__copyright {
  display: inline-block;
  margin-top: 37px;
  font-size: var(--fz_12);
  font-family: var(--font_gold);
}

@media (min-width: 768px) {
  .l-footer {
    padding-top: 26px;
    padding-bottom: 18px;
  }
}