@use "../foundation/forward" as fwd;

/*----------------------------------------
	l-section
----------------------------------------*/
.l-section {
  padding: 40px 0 36px;
}

.l-section__inner {
  width: calc((345 / 375) * 100%);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .l-section {
    padding: 80px 0 48px;
  }
}

@media (min-width: 1440px) {
  .l-section__inner {
    width: calc((1024 / 1440) * 100%);
    max-width: 1024px;
  }
}
